<thead>
    <tr>
        <th scope="col">Client</th>
        <th scope="col">Project</th>
        <th scope="col">Description</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Time Spent</th>
    </tr>
</thead>
<tbody>
    {{#each model as |item|}}
        <tr class="report-row">
            <td  scope="row">{{item.Client}}</td>
            <td>{{item.Project}}</td>
            <td>{{item.Description}}</td>
            <td>{{readable-date item.StartTime}}</td>
            <td>{{readable-date item.EndTime}}</td>
            <td>{{time-spent item.StartTime item.EndTime}}</td>
        </tr>
    {{/each}}
</tbody>