<h2>Report</h2>
{{#link-to "report.client" "Caleres"}}Filter By Client{{/link-to}}

<table>
    <tr>
        <th>Client</th>
        <th>Project</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    {{#each model as |item|}}
        <tr>
            <td>{{item.Client}}</td>
            <td>{{item.Project}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.StartTime}}</td>
            <td>{{item.EndTime}}</td>
        </tr>
    {{/each}}
</table>