<h2>Enter New Time</h2>
<form {{action "createTimeEntry" on="submit"}}>
    <div>
        <label for="client"><strong>Client: </strong></label>
        {{input value=client placeholder=model.[0].Client}}
    </div>

    <div>
        <label for="project"><strong>Project: </strong></label>
        {{input value=project placeholder=model.[0].Project}}
    </div>

    <div>
        <label for="description"><strong>Description: </strong></label>
        {{input value=description placeholder=model.[0].Description}}
    </div>

    <div>
        <label for="start"><strong>Start: </strong></label>
        {{input type="datetime-local" value=start placeholder=model.[0].StartTime}}
    </div>

    <div>
        <label for="end"><strong>End: </strong></label>
        {{input type="datetime-local" value=end placeholder=model.[0].EndTime}}
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>
</form>